USE [master]
GO
/****** Object:  Database [QLNhanSu]    Script Date: 15/05/2026 2:35:17 CH ******/
CREATE DATABASE [QLNhanSu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNhanSu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNhanSu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNhanSu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNhanSu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNhanSu]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayChamCong] [date] NOT NULL,
	[GioBatDau] [datetime] NULL,
	[GioKetThuc] [datetime] NULL,
	[SoGioLam] [decimal](5, 2) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_NgayCongTheoThang]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_NgayCongTheoThang] AS
SELECT
    MaNV,
    MONTH(NgayChamCong) AS Thang,
    YEAR(NgayChamCong)  AS Nam,
    COUNT(*)            AS TongNgayCong,    -- Số ngày có chấm công
    SUM(SoGioLam)       AS TongGioLam
FROM dbo.ChamCong
WHERE TrangThai = N'Hoàn thành'            -- Chỉ tính ngày đã đủ cả 2 giờ vào/ra
GROUP BY MaNV, MONTH(NgayChamCong), YEAR(NgayChamCong)
GO
/****** Object:  Table [dbo].[BangLuong]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuong](
	[MaBL] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[LuongCoBan] [decimal](15, 2) NULL,
	[NgayCongChuan] [decimal](5, 1) NULL,
	[LuongNgayCong] [decimal](15, 2) NULL,
	[LuongTangCa] [decimal](15, 2) NULL,
	[PhuCap] [decimal](15, 2) NULL,
	[PhuCapKhac] [decimal](15, 2) NULL,
	[BHXHvaBHYT] [decimal](15, 2) NULL,
	[OT1] [decimal](15, 2) NULL,
	[OT2] [decimal](15, 2) NULL,
	[SoNgayPhep] [decimal](5, 1) NULL,
	[NgayNgungViec] [date] NULL,
	[ThuCLanh] [decimal](15, 2) NULL,
	[OT3] [decimal](5, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietChuyenMon]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChuyenMon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaCM] [nvarchar](10) NOT NULL,
	[MaTD] [nvarchar](10) NOT NULL,
	[NgayCap] [date] NULL,
	[Truong] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNgoaiNgu]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNgoaiNgu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaNN] [nvarchar](10) NOT NULL,
	[MaTD] [nvarchar](10) NOT NULL,
	[NgayCap] [date] NULL,
	[NoiCap] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [nvarchar](10) NOT NULL,
	[TenCV] [nvarchar](100) NOT NULL,
	[PhuCap] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenMon]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMon](
	[MaCM] [nvarchar](10) NOT NULL,
	[TenCM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanToc]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanToc](
	[MaDT] [nvarchar](10) NOT NULL,
	[TenDT] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DieuDong]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuDong](
	[MaDD] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayQD] [date] NULL,
	[TuViTri] [nvarchar](200) NULL,
	[DenViTri] [nvarchar](200) NULL,
	[LyDo] [nvarchar](500) NULL,
	[NguoiKy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[HoTenNV] [nvarchar](100) NULL,
	[MaLoaiHD] [nvarchar](10) NULL,
	[LuongCoBan] [decimal](15, 2) NULL,
	[NgayKy] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoLuong]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoLuong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaHD] [nvarchar](20) NULL,
	[MucLuong] [decimal](15, 2) NOT NULL,
	[NgayLL] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhenThuongKyLuat]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhenThuongKyLuat](
	[MaKT] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[LoaiKT] [nvarchar](20) NOT NULL,
	[NgayQD] [date] NULL,
	[NoiDung] [nvarchar](500) NULL,
	[HinhThuc] [nvarchar](200) NULL,
	[NguoiKy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHopDong]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHopDong](
	[MaLoaiHD] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NgoaiNgu]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgoaiNgu](
	[MaNN] [nvarchar](10) NOT NULL,
	[TenNN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[HoNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[SoCMND] [nvarchar](20) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[DienThoaiDD] [nvarchar](15) NULL,
	[NgayVaoLam] [date] NULL,
	[ChoHienTai] [nvarchar](200) NULL,
	[NoiSinh] [nvarchar](200) NULL,
	[HoKhau] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[SoBHXH] [nvarchar](20) NULL,
	[SoBHYT] [nvarchar](20) NULL,
	[SoTheATM] [nvarchar](30) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[MaCV] [nvarchar](10) NULL,
	[MaDT] [nvarchar](10) NULL,
	[MaTG] [nvarchar](10) NULL,
	[MaCM] [nvarchar](10) NULL,
	[MaPB] [nvarchar](10) NULL,
	[MaTo] [nvarchar](10) NULL,
	[TinhHonNhan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [nvarchar](20) NOT NULL,
	[TenChucNang] [nvarchar](100) NOT NULL,
	[CoQuyen] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [nvarchar](10) NOT NULL,
	[TenPB] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [nvarchar](20) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[MaNV] [nvarchar](10) NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiLeLuong]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiLeLuong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaPB] [nvarchar](10) NOT NULL,
	[MaTo] [nvarchar](10) NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[SoNgayCongThang] [int] NOT NULL,
	[TiLeLuong] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[To_]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[To_](
	[MaTo] [nvarchar](10) NOT NULL,
	[TenTo] [nvarchar](100) NOT NULL,
	[MaPB] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonGiao]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonGiao](
	[MaTG] [nvarchar](10) NOT NULL,
	[TenTG] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrinhDo]    Script Date: 15/05/2026 2:35:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrinhDo](
	[MaTD] [nvarchar](10) NOT NULL,
	[TenTD] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangLuong] ON 

SET IDENTITY_INSERT [dbo].[BangLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([ID], [MaNV], [NgayChamCong], [GioBatDau], [GioKetThuc], [SoGioLam], [TrangThai], [GhiChu]) VALUES (3, N'NV003', CAST(N'2026-05-14' AS Date), CAST(N'2026-05-14T10:04:18.887' AS DateTime), CAST(N'2026-05-14T10:06:55.420' AS DateTime), CAST(0.04 AS Decimal(5, 2)), N'Hoàn thành', NULL)
INSERT [dbo].[ChamCong] ([ID], [MaNV], [NgayChamCong], [GioBatDau], [GioKetThuc], [SoGioLam], [TrangThai], [GhiChu]) VALUES (4, N'NV009', CAST(N'2026-05-14' AS Date), CAST(N'2026-05-14T10:08:33.033' AS DateTime), CAST(N'2026-05-14T10:18:49.097' AS DateTime), CAST(0.17 AS Decimal(5, 2)), N'Hoàn thành', NULL)
INSERT [dbo].[ChamCong] ([ID], [MaNV], [NgayChamCong], [GioBatDau], [GioKetThuc], [SoGioLam], [TrangThai], [GhiChu]) VALUES (5, N'NV012', CAST(N'2026-05-14' AS Date), CAST(N'2026-05-14T10:29:57.517' AS DateTime), CAST(N'2026-05-14T10:31:46.043' AS DateTime), CAST(0.03 AS Decimal(5, 2)), N'Hoàn thành', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietChuyenMon] ON 

INSERT [dbo].[ChiTietChuyenMon] ([ID], [MaNV], [MaCM], [MaTD], [NgayCap], [Truong]) VALUES (5, N'NV002', N'CM01', N'TD03', NULL, N'Đại học Yersin Đà Lạt')
INSERT [dbo].[ChiTietChuyenMon] ([ID], [MaNV], [MaCM], [MaTD], [NgayCap], [Truong]) VALUES (7, N'NV001', N'CM01', N'TD03', CAST(N'2026-05-09' AS Date), N'Đại học Yersin Đà Lạt')
SET IDENTITY_INSERT [dbo].[ChiTietChuyenMon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietNgoaiNgu] ON 

INSERT [dbo].[ChiTietNgoaiNgu] ([ID], [MaNV], [MaNN], [MaTD], [NgayCap], [NoiCap]) VALUES (4, N'NV001', N'NN01', N'TD03', CAST(N'2026-05-09' AS Date), N'Trung Tâm Anh Ngữ')
SET IDENTITY_INSERT [dbo].[ChiTietNgoaiNgu] OFF
GO
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [PhuCap]) VALUES (N'CV01', N'Giám Đốc', CAST(5000000.00 AS Decimal(15, 2)))
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [PhuCap]) VALUES (N'CV02', N'Phó Giám Đốc', CAST(3000000.00 AS Decimal(15, 2)))
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [PhuCap]) VALUES (N'CV03', N'Trưởng Phòng', CAST(1500000.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[ChuyenMon] ([MaCM], [TenCM]) VALUES (N'CM01', N'Công Nghệ Thông Tin')
INSERT [dbo].[ChuyenMon] ([MaCM], [TenCM]) VALUES (N'CM02', N'Kế Toán - Tài Chính')
INSERT [dbo].[ChuyenMon] ([MaCM], [TenCM]) VALUES (N'CM03', N'Quản Trị Kinh Doanh')
GO
INSERT [dbo].[DanToc] ([MaDT], [TenDT]) VALUES (N'DT01', N'Kinh')
INSERT [dbo].[DanToc] ([MaDT], [TenDT]) VALUES (N'DT02', N'Tày')
INSERT [dbo].[DanToc] ([MaDT], [TenDT]) VALUES (N'DT03', N'Thái')
GO
INSERT [dbo].[HopDong] ([MaHD], [MaNV], [HoTenNV], [MaLoaiHD], [LuongCoBan], [NgayKy], [NgayKetThuc], [GhiChu]) VALUES (N'1', N'NV004', NULL, N'LHD02', CAST(10000000.00 AS Decimal(15, 2)), CAST(N'2026-05-10' AS Date), CAST(N'2027-05-10' AS Date), NULL)
INSERT [dbo].[HopDong] ([MaHD], [MaNV], [HoTenNV], [MaLoaiHD], [LuongCoBan], [NgayKy], [NgayKetThuc], [GhiChu]) VALUES (N'HD01', N'NV015', NULL, N'LHD01', CAST(100000000.00 AS Decimal(15, 2)), CAST(N'2025-01-25' AS Date), CAST(N'2026-05-09' AS Date), NULL)
INSERT [dbo].[HopDong] ([MaHD], [MaNV], [HoTenNV], [MaLoaiHD], [LuongCoBan], [NgayKy], [NgayKetThuc], [GhiChu]) VALUES (N'HĐ01', N'NV001', NULL, N'LHD01', CAST(30000000.00 AS Decimal(15, 2)), CAST(N'2026-05-11' AS Date), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[HoSoLuong] ON 

INSERT [dbo].[HoSoLuong] ([ID], [MaNV], [MaHD], [MucLuong], [NgayLL]) VALUES (3, N'NV002', NULL, CAST(18000000.00 AS Decimal(15, 2)), CAST(N'2022-01-01' AS Date))
INSERT [dbo].[HoSoLuong] ([ID], [MaNV], [MaHD], [MucLuong], [NgayLL]) VALUES (4, N'NV002', NULL, CAST(20000000.00 AS Decimal(15, 2)), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[HoSoLuong] ([ID], [MaNV], [MaHD], [MucLuong], [NgayLL]) VALUES (5, N'NV015', NULL, CAST(1000000.00 AS Decimal(15, 2)), CAST(N'2025-06-26' AS Date))
SET IDENTITY_INSERT [dbo].[HoSoLuong] OFF
GO
INSERT [dbo].[LoaiHopDong] ([MaLoaiHD], [TenLoai]) VALUES (N'LHD01', N'Hợp Đồng Không Xác Định Thời Hạn')
INSERT [dbo].[LoaiHopDong] ([MaLoaiHD], [TenLoai]) VALUES (N'LHD02', N'Hợp Đồng Xác Định Thời Hạn 1 Năm')
INSERT [dbo].[LoaiHopDong] ([MaLoaiHD], [TenLoai]) VALUES (N'LHD03', N'Hợp Đồng Xác Định Thời Hạn 2 Năm')
GO
INSERT [dbo].[NgoaiNgu] ([MaNN], [TenNN]) VALUES (N'NN01', N'Tiếng Anh')
INSERT [dbo].[NgoaiNgu] ([MaNN], [TenNN]) VALUES (N'NN02', N'Tiếng Trung')
INSERT [dbo].[NgoaiNgu] ([MaNN], [TenNN]) VALUES (N'NN03', N'Tiếng Nhật')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoNV], [TenNV], [NgaySinh], [GioiTinh], [SoCMND], [DienThoai], [DienThoaiDD], [NgayVaoLam], [ChoHienTai], [NoiSinh], [HoKhau], [GhiChu], [SoBHXH], [SoBHYT], [SoTheATM], [TinhTrang], [HinhAnh], [MaCV], [MaDT], [MaTG], [MaCM], [MaPB], [MaTo], [TinhHonNhan]) VALUES (N'NV001', N'Trần Văn', N'Quân', CAST(N'2001-06-14' AS Date), N'Nam', N'', N'0931323316', N'', CAST(N'2020-01-01' AS Date), N'', N'', N'', N'', N'', N'', N'', N'Đang làm', N'E:\QUANLYNHANSU\QLNhanSu\QLNhanSu\Images\anhchandungQuan..jpg', N'CV01', N'DT01', N'TG02', N'CM01', N'PB01', NULL, N'Độc thân')
INSERT [dbo].[NhanVien] ([MaNV], [HoNV], [TenNV], [NgaySinh], [GioiTinh], [SoCMND], [DienThoai], [DienThoaiDD], [NgayVaoLam], [ChoHienTai], [NoiSinh], [HoKhau], [GhiChu], [SoBHXH], [SoBHYT], [SoTheATM], [TinhTrang], [HinhAnh], [MaCV], [MaDT], [MaTG], [MaCM], [MaPB], [MaTo], [TinhHonNhan]) VALUES (N'NV002', N'Dương Võ Quang', N'Vinh', CAST(N'2004-11-15' AS Date), N'Nam', N'', N'0366407428', N'', CAST(N'2022-01-01' AS Date), N'', N'', N'', N'', N'', N'', N'', N'Đang làm', N'E:\QUANLYNHANSU\QLNhanSu\QLNhanSu\Images\anhchandungVinh.jpg', N'CV02', N'DT01', N'TG02', N'CM01', N'PB01', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaQuyen], [MaTK], [TenChucNang], [CoQuyen]) VALUES (1, N'TK01', N'Hồ sơ nhân viên', 1)
INSERT [dbo].[PhanQuyen] ([MaQuyen], [MaTK], [TenChucNang], [CoQuyen]) VALUES (2, N'TK01', N'Danh mục phòng ban', 1)
INSERT [dbo].[PhanQuyen] ([MaQuyen], [MaTK], [TenChucNang], [CoQuyen]) VALUES (3, N'TK01', N'Danh mục chức vụ', 1)
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
INSERT [dbo].[PhongBan] ([MaPB], [TenPB], [DienThoai]) VALUES (N'PB01', N'Phòng Giám Đốc', N'0931323316')
INSERT [dbo].[PhongBan] ([MaPB], [TenPB], [DienThoai]) VALUES (N'PB02', N'Phòng Hành Chính', N'0283456790')
INSERT [dbo].[PhongBan] ([MaPB], [TenPB], [DienThoai]) VALUES (N'PB03', N'Phòng Kế Toán', N'0283456791')
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [MaNV], [VaiTro], [TrangThai]) VALUES (N'TK01', N'quan', N'JAvlGPq9JyTdtvBO6x2llnRI1+gxwIyPqCKAn3THIKk=', N'NV001', N'Admin', 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [MaNV], [VaiTro], [TrangThai]) VALUES (N'TK02', N'vinh', N'JAvlGPq9JyTdtvBO6x2llnRI1+gxwIyPqCKAn3THIKk=', N'NV002', N'Admin', 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [MaNV], [VaiTro], [TrangThai]) VALUES (N'TK03', N'lan', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'NV003', N'NhanVien', 1)
GO
SET IDENTITY_INSERT [dbo].[TiLeLuong] ON 

INSERT [dbo].[TiLeLuong] ([ID], [MaPB], [MaTo], [Thang], [Nam], [SoNgayCongThang], [TiLeLuong]) VALUES (1, N'PB05', N'TO04', 5, 2026, 26, CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[TiLeLuong] ([ID], [MaPB], [MaTo], [Thang], [Nam], [SoNgayCongThang], [TiLeLuong]) VALUES (2, N'PB03', N'TO02', 5, 2026, 26, CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[TiLeLuong] ([ID], [MaPB], [MaTo], [Thang], [Nam], [SoNgayCongThang], [TiLeLuong]) VALUES (3, N'PB02', N'TO01', 5, 2026, 26, CAST(100.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[TiLeLuong] OFF
GO
INSERT [dbo].[To_] ([MaTo], [TenTo], [MaPB]) VALUES (N'TO01', N'Tổ Hành Chính', N'PB02')
INSERT [dbo].[To_] ([MaTo], [TenTo], [MaPB]) VALUES (N'TO02', N'Tổ Kế Toán', N'PB03')
INSERT [dbo].[To_] ([MaTo], [TenTo], [MaPB]) VALUES (N'TO03', N'Tổ Kỹ Thuật', N'PB04')
GO
INSERT [dbo].[TonGiao] ([MaTG], [TenTG]) VALUES (N'TG01', N'Không')
INSERT [dbo].[TonGiao] ([MaTG], [TenTG]) VALUES (N'TG02', N'Phật Giáo')
INSERT [dbo].[TonGiao] ([MaTG], [TenTG]) VALUES (N'TG03', N'Công Giáo')
GO
INSERT [dbo].[TrinhDo] ([MaTD], [TenTD]) VALUES (N'TD01', N'Tiến Sĩ')
INSERT [dbo].[TrinhDo] ([MaTD], [TenTD]) VALUES (N'TD02', N'Thạc Sĩ')
INSERT [dbo].[TrinhDo] ([MaTD], [TenTD]) VALUES (N'TD03', N'Đại Học')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BL_NV_ThangNam]    Script Date: 15/05/2026 2:35:18 CH ******/
ALTER TABLE [dbo].[BangLuong] ADD  CONSTRAINT [UQ_BL_NV_ThangNam] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BangLuong_MaNV]    Script Date: 15/05/2026 2:35:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_BangLuong_MaNV] ON [dbo].[BangLuong]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ChamCong_NV_Ngay]    Script Date: 15/05/2026 2:35:18 CH ******/
ALTER TABLE [dbo].[ChamCong] ADD  CONSTRAINT [UQ_ChamCong_NV_Ngay] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC,
	[NgayChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HopDong_MaNV]    Script Date: 15/05/2026 2:35:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_HopDong_MaNV] ON [dbo].[HopDong]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhanVien_MaCV]    Script Date: 15/05/2026 2:35:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien_MaCV] ON [dbo].[NhanVien]
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhanVien_MaPB]    Script Date: 15/05/2026 2:35:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien_MaPB] ON [dbo].[NhanVien]
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0A34DE9FF]    Script Date: 15/05/2026 2:35:18 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [LuongCoBan]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [NgayCongChuan]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [LuongNgayCong]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [LuongTangCa]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [PhuCap]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [PhuCapKhac]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [BHXHvaBHYT]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [OT1]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [OT2]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [SoNgayPhep]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [ThuCLanh]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [OT3]
GO
ALTER TABLE [dbo].[ChamCong] ADD  DEFAULT (N'Đang làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChucVu] ADD  DEFAULT ((0)) FOR [PhuCap]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  DEFAULT ((0)) FOR [CoQuyen]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('NhanVien') FOR [VaiTro]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TiLeLuong] ADD  DEFAULT ((26)) FOR [SoNgayCongThang]
GO
ALTER TABLE [dbo].[TiLeLuong] ADD  DEFAULT ((100)) FOR [TiLeLuong]
GO
ALTER TABLE [dbo].[BangLuong]  WITH CHECK ADD  CONSTRAINT [FK_BL_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BangLuong] CHECK CONSTRAINT [FK_BL_NhanVien]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietChuyenMon]  WITH CHECK ADD  CONSTRAINT [FK_CTCM_ChuyenMon] FOREIGN KEY([MaCM])
REFERENCES [dbo].[ChuyenMon] ([MaCM])
GO
ALTER TABLE [dbo].[ChiTietChuyenMon] CHECK CONSTRAINT [FK_CTCM_ChuyenMon]
GO
ALTER TABLE [dbo].[ChiTietChuyenMon]  WITH CHECK ADD  CONSTRAINT [FK_CTCM_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietChuyenMon] CHECK CONSTRAINT [FK_CTCM_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietChuyenMon]  WITH CHECK ADD  CONSTRAINT [FK_CTCM_TrinhDo] FOREIGN KEY([MaTD])
REFERENCES [dbo].[TrinhDo] ([MaTD])
GO
ALTER TABLE [dbo].[ChiTietChuyenMon] CHECK CONSTRAINT [FK_CTCM_TrinhDo]
GO
ALTER TABLE [dbo].[ChiTietNgoaiNgu]  WITH CHECK ADD  CONSTRAINT [FK_CTNN_NgoaiNgu] FOREIGN KEY([MaNN])
REFERENCES [dbo].[NgoaiNgu] ([MaNN])
GO
ALTER TABLE [dbo].[ChiTietNgoaiNgu] CHECK CONSTRAINT [FK_CTNN_NgoaiNgu]
GO
ALTER TABLE [dbo].[ChiTietNgoaiNgu]  WITH CHECK ADD  CONSTRAINT [FK_CTNN_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietNgoaiNgu] CHECK CONSTRAINT [FK_CTNN_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietNgoaiNgu]  WITH CHECK ADD  CONSTRAINT [FK_CTNN_TrinhDo] FOREIGN KEY([MaTD])
REFERENCES [dbo].[TrinhDo] ([MaTD])
GO
ALTER TABLE [dbo].[ChiTietNgoaiNgu] CHECK CONSTRAINT [FK_CTNN_TrinhDo]
GO
ALTER TABLE [dbo].[DieuDong]  WITH CHECK ADD  CONSTRAINT [FK_DieuDong_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DieuDong] CHECK CONSTRAINT [FK_DieuDong_NV]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HD_LoaiHD] FOREIGN KEY([MaLoaiHD])
REFERENCES [dbo].[LoaiHopDong] ([MaLoaiHD])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HD_LoaiHD]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HD_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HD_NhanVien]
GO
ALTER TABLE [dbo].[HoSoLuong]  WITH CHECK ADD  CONSTRAINT [FK_HSL_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[HoSoLuong] CHECK CONSTRAINT [FK_HSL_HopDong]
GO
ALTER TABLE [dbo].[HoSoLuong]  WITH CHECK ADD  CONSTRAINT [FK_HSL_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoSoLuong] CHECK CONSTRAINT [FK_HSL_NhanVien]
GO
ALTER TABLE [dbo].[KhenThuongKyLuat]  WITH CHECK ADD  CONSTRAINT [FK_KTKL_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KhenThuongKyLuat] CHECK CONSTRAINT [FK_KTKL_NV]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NV_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NV_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NV_ChuyenMon] FOREIGN KEY([MaCM])
REFERENCES [dbo].[ChuyenMon] ([MaCM])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NV_ChuyenMon]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NV_DanToc] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DanToc] ([MaDT])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NV_DanToc]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NV_PhongBan] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NV_PhongBan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NV_To] FOREIGN KEY([MaTo])
REFERENCES [dbo].[To_] ([MaTo])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NV_To]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NV_TonGiao] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TonGiao] ([MaTG])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NV_TonGiao]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PQ_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PQ_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_NhanVien]
GO
ALTER TABLE [dbo].[TiLeLuong]  WITH CHECK ADD  CONSTRAINT [FK_TLL_PB] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[TiLeLuong] CHECK CONSTRAINT [FK_TLL_PB]
GO
ALTER TABLE [dbo].[To_]  WITH CHECK ADD  CONSTRAINT [FK_To_PhongBan] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[To_] CHECK CONSTRAINT [FK_To_PhongBan]
GO
USE [master]
GO
